{% extends 'base.j2' %}



{% block body %}

    <div class="login">
        <form action="/auth/login" method="POST">
            <h1>TODO LOGIN</h1>
            <hr/>
            <p>Username</p>
            <input name="username" type="name" value=""/>
            <p>Password</p>
            <input name="password" type="password" value=""/>
            <br/>
            <hr/>
            <br/>
            <button  type="submit">LOGIN</button>
        </form>
    </div>

    
    
    
{% endblock %}




