{% extends 'base.j2' %}



{% block body %}

    <div class="login">
        <form action="/" method="GET">
            <h4>Login Error! </h4>
            <hr/>
            <p>Username or password not found!</p>
            <hr/>
            <button type="submit">GO BACK</button>
        </form>
    </div>

    
    
    
{% endblock %}




